.mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    transform: translate3d(-100%,0,0);
    transition: transform .25s ease,-webkit-transform .25s ease;

    .mobile-menu-inner {
        position: relative;
        display: inline-block;
        padding: 20px 0;
        background-color: #fff;
        cursor: default;
        min-width: 320px;
        max-width: 75%;
        height: 100%;
    }

    &.is-open {
        pointer-events: auto;
        transform: translate3d(0,0,0);
    }
}

.mobile-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .25s ease,visibility 0s ease;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.mobile-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {

        > a {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            padding: 8px 30px;
            align-items: center;
            vertical-align: middle;
            text-transform: uppercase;
        }

        ul {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0 30px;
            overflow: hidden;

            ul.sub-menu {
                padding: 0 10px;
            }
            
            > li {

                > a {
                    display: inline-block;
                    font-size: 16px;
                    color: #898989;
                    padding: 2px 0;
                }

                &:last-child {
                    padding-bottom: 15px;
                }
            }
        }
    }
}