
/*----------  Main Navigation  ----------*/
.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;

    > li {
        display: inline-flex;

        & + li {
            margin-left: 30px;
        }

        > a {
            padding: 25px 0;
        }
    }

    li {
        margin: 0;
        white-space: nowrap;

        &.menu-item-has-children {
            position: relative;

            &:hover {

                > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    .sub-menu {
        padding: 30px 0;
        margin: 0;
        list-style: none;
        background-color: $dark-color;
        position: absolute;
        min-width: 220px;
        top: 100%;
        left: -30px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        transition: 
            opacity 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25), 
            visibility 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25), 
            transform 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);

        li {
            display: block;
            padding: 0 30px;
            margin-bottom: 15px;
            line-height: 1.1;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                color: #fff;

                &:hover {
                    color: #c1c1c1;
                }
            }
        }

        .sub-menu {
            top: 0;
            left: 100%;
        }
    }
}