body {
  @extend %content-font;
  background-color: #fff;
  color: $body-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.6;
}

a {
  color: $link-color;
  text-decoration: none;
  @include quick-transition;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    outline: none;
  }
}

p {
  font-size: 18px;
  margin-bottom: 1.55rem;
  word-spacing: 0.001em;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

img {
  height: auto;
  max-width: 100%;
}

::selection {
  color: $selection-color;
  background: $selection-background;
}

.container {

  @include bp(md) {
    &.expanded {
      max-width: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}