h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading-font;
  color: $heading-color;
  letter-spacing: -0.03em;
  margin: 0 0 20px;

  strong {
    font-weight: 400;
  }
}

h1,
.h1 {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 600;

  @include bp(md) {
    font-size: 42px;
  }

  @include bp(lg) {
    font-size: 60px;
  }
}

h2,
.h2 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;

  @include bp(md) {
    font-size: 34px;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;

  @include bp(md) {
    font-size: 28px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;

  @include bp(md) {
    font-size: 24px;
  }
}

h5 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

code {
  background-color: hsl(348, 86%, 61%);
  color: hsl(0, 0%, 96%);
  font-size: 0.875em;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: $main-border-color;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

ul,
ol {
  margin-left: 0;
  list-style-position: inside;
  font-size: inherit;

  ul, ol {
    margin-left: 15px;
  }

  li {
    margin-bottom: 0;

    &:last-child {
      margin: 0;
    }
  }
}

small {
  font-size: 0.875em;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

blockquote {
  display: block;
  padding: 5% 10%;
  border: none;
  text-align: center;

  p {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    color: $heading-color;
    line-height: 1.3;

    @include bp(md) {
      font-size: 24px;
    }
  }
}

cite {
  display: inline-block;
  margin-top: 20px;
  color: $heading-color;
  font-style: normal;
  font-weight: 400;
}